* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 50px;
  height: 40px;
}
.item_nav_bar {
  display: flex;
  color: #151515;
  padding: 10px 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  justify-content: space-between;
  z-index: 888888888888;
 
}
.navitem {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.item_nav {
  font-size: 20px;
  cursor: pointer;
}
.item_nav:hover {
  color: #f87f22;
}
.logosub {
  color: #f87f22;
}
.form_box {
  height: 90vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form_box_meel {
  margin: 0 auto 50px auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form_lable {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.form_input {
  margin: 8px 0;
  padding: 3px 10px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #151515;
  font-size: 18px;
}
.form_full {
  padding: 25px;
  border-radius: 8px;
  width: 450px;
  background-color: white;
  border: 2px solid #151515;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.form_full_meel {
  padding: 25px;
  border-radius: 8px;
  width: 550px;
  border: 2px solid #151515;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.topic {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
}
.topic_details {
  font-size: 35px;
  margin-top: 20px;
  color: white;
  margin-bottom: 25px;
  text-align: center;
}
.topicsub_details {
  color: #f87f22;
}
.topicsub {
  color: #151515;
}
.add_btnbtn {
  display: flex;
  margin: 0 auto;
  border-radius: 6px;
  padding: 4px 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #151515;
  font-size: 20px;
  background-color: #151515;
  align-items: center;
  justify-content: center;
}

.add_btnbtn:hover {
  background-color: white;
  color: #151515;
}
.fadeInUp {
  animation: fadeInUp 1s ease backwards;
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
.nav_icon_right {
  font-size: 20px;
  cursor: pointer;
}
.nav_icon_right:hover {
  color: #f87f22;
}
.navitem_icon {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.searchbarnew {
  width: 450px;
  border-radius: 4px;
  border: 1px solid #1515154d;
  text-transform: capitalize;
  font-size: 18px;
  padding: 3px 10px;
}
.child_page {
  margin-left: 250px;
}
