@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.content_home {
  position: absolute;
  color: white;
  text-decoration: initial;
  font-size: 120px;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 240px;
  font-family: "Jersey 10", sans-serif;
  font-weight: bolder;
  text-align: center;
}
.fitpara {
  font-size: 25px;
  text-transform: capitalize;
}
.strtbtn {
  background-color: #f87f22;
  color: white;
  font-size: 25px;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #f87f22;
  font-weight: bold;
}
.strtbtn:hover {
  background-color: #f87f2200;
  color: #f87f22;
}
.subtopic {
  color: #f87f22;
  margin: 0;
  padding: 0;
}
.video_bk_set {
  width: 100%;
}
.sub_topic1 {
  font-size: 35px;
}
.sub_topic2 {
  font-size: 28px;
  margin: 8px;
}
.sub_topic3 {
  font-size: 25px;
  text-transform: capitalize;
}
.btn_homepage {
  background-color: #151515;
  font-size: 25px;
  border: 2px solid white;
  margin: 20px 0;
  color: white;
  padding: 10px 40px;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
}
.btn_homepage:hover{
background-color: #15151500;
}